.confirm {
  z-index: 100;
  width: 416px;
  height: 211px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0px 2px 12px rgba(12, 82, 118, 0.13);
  border-radius: 6px;

  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
  }

  &__subtitle {
    margin-top: 13px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: #333333;
  }

  &__buttons {
    display: flex;
    column-gap: 14px;
    margin-top: 30px;
  }
}