* {
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
    font-family: 'Open Sans';
    box-sizing: border-box;
}



.button {
    width: 139px;
    height: 32px;
    background: #424242;
    border-radius: 3px;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;

    &:hover {
        background: #959595;
    }

    &-small {
        width: 66px;
    }

    &-bin {
        width: 32px;
        height: 32px;
        padding: 0;
        border: none;
        outline: none;
        background: none;
        cursor: pointer;

        &:hover {
            background: #F2F2F2;
            border-radius: 4px;
        }
    }

    &-white {
        width: 84px;
        background: #FFFFFF;
        border: 2px solid #000000;
        border-radius: 3px;
        color: #333333;
    }
}


.item-image {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F0F0F0;
    border-radius: 3px;

    &_big {
        width: 300px;
        height: 300px;
    }
}

.content {

    .container {
        margin: auto;
        width: 1200px;
        padding: 0 40px 33px 40px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 89px;

        &-single {
            justify-content: start;
            gap: 30px;
        }
    }

    &__title {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 38px;
        color: #000000;
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}

.single-item {
    display: flex;
    gap: 50px;
}